/* Sección de Contacto y Formulario */
#contacto {
    background: #111;
}

.contacto-form {
    background: #222;
    padding: 40px;
    border-radius: 8px;
    width: 100%;
    max-width: 600px; /*Control de ancho en PC */
    margin: auto;
}

.form-group {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 8px;
    /* color: #cc0000; */
    color: #C6C6C6;
}

.form-group input, 
.form-group select, 
.form-group textarea {
    padding: 10px;
    border: 1px solid #444;
    background: #333;
    color: white;
    border-radius: 4px;
}

.buttons {
    display: flex;
    gap: 10px;
}

/* Botones de Envío y Reset requeridos */
button[type="submit"], 
button[type="reset"] {
    flex: 1;
    padding: 12px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

button[type="submit"] { background: #2A6BAC; color: white; }
button[type="reset"] { background: #555; color: white; }


/* 📱 Mobile */
@media (max-width: 768px) {
    .contacto-form {
        width: 90%;
    }
}