#home {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), 
                url('../img/hero.jpg') no-repeat center center/cover;
    width: 100%;
    text-align: center;
}

.hero-content h1 {
    font-size: 5rem;
    color: #cc0000;
}

.hero-content i {
    font-size: 3rem;
    margin-top: 20px;
}